.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px); 
  grid-template-rows: repeat(20, 20px);    
  gap: 1px;  
  border: 2px solid #000;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #00000075;
}

.sub-title {
  font-size: 4vh;
}

.gameOverButton {
  margin: 1rem;
  background-color: #ff0000;
  transition: 0.1s;
  border: 1px solid black;
}
.gameOverButton:hover {
  background-color: #410000;
  border: 1px solid rgba(255, 255, 255, 0.288) ;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  
}

.logo-text {
  color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.charBtn {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: bottom;
}

.charSelContainer {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.food {
  background-image: url('/public/barcodeSprite.png');
  background-size:cover ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.powerup {
  background-image: url('/public/powerupSprite.png');
  background-size:cover ;
  z-index: 100;
}

.snake {
  background-image: url('/public/rojersBoxSprite.png');
  background-size: cover;
  z-index: 99;
}

.screenContainer {
  border: 2px solid black;
  background:rgba(0, 0, 0, 0.808);
  width: 1000px;
  height: 500px;
}

.title-text {
  height: 20%;
  width: 100%;
}

.screenContainer-gameover {
  border: 2px solid black;
  background:rgba(0, 0, 0, 0.808);
  width: 80vw;
  height: 75vh; 

}
.snakeContent {
  background: rgba(0, 0, 0, 0.808);
}
.gameCharContainer {
  position: absolute;
  top: 5rem;
  right: 15rem;
  background-color: #000000de;
  border: 3px solid rgb(92, 22, 255);

}
.charNameContainer {
  display: flex;
  background-color: #3d0404cb;
  height: 5vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cell.snake-power {
  background-image: url('/public/rojersBoxPowerSprite.png');
  background-size: cover;
  z-index: 99;
}

.screenContainer ul {
  list-style-type: none;
  padding: 0;
}

.screenContainer li {
  font-size: 1.2em;
  margin: 10px 0;
}

.usernameInput {
  margin-top: 2%;
  padding: 10px;
  width: 200px; 
  font-size: 20px; 
  font-family: "tiny5";
  margin-bottom: 3%;
  background-color: #000000e1;
  border: none;
  border-radius: 0%;
}

/* Leaderboard Container Styles */
.leaderboardContainer {
  padding: 20px;
  background-color: #000000e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Leaderboard Header Styles */
.leaderboardHeader {
  top: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #ff0000;
  color: white; 
  padding: 10px;
  border-radius: 8px; 
  margin-bottom: 10px; 
  font-weight: bold; 
  position: sticky;
}

/* Leaderboard Entry Styles */
.leaderboardEntry {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  padding: 10px;
  border-bottom: 1px solid #ff0000;
  align-items: center; 
}


.leaderboardEntry:nth-child(even) {
  background-color: #000000d0; 
}

.leaderboardEntry:nth-child(odd) {
  background-color: #000000d0; 
}


.backButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff0000; 
  color: rgb(255, 255, 255); 
  border: 1 px solid red;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.1s; 
}

.backButton:hover {
  background-color: #410000; 
  border: 1px solid white;
}
.leaderboard {
  max-height: 300px; 
  overflow-y: auto; 
  margin-bottom: 20px; 
  border-radius: 8px; 
  position: relative; 
}
.homeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff00007a;

}
.homeButtonContainer {
  display: grid;
  justify-content: center;
}
.homeBtn:hover {
  background-color: #410000;
  border: 1px solid rgba(255, 255, 255, 0.288) ;
}
.howToPlay {
  background-color: #000000ec;
  overflow-y: scroll;
  width: 90%;
  height: 95%
}
.charDescriptionContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.charDescription {
  background-color: #94000088;
  width: 30%;
  border:2px solid #410000;
  
}
.htpBtn {
  background-color: red;
  margin-bottom: 20px;
}