.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px); /* 20 columns, each 20px wide */
  grid-template-rows: repeat(20, 20px);    /* 20 rows, each 20px tall */
  gap: 1px;  /* Adds a small gap between cells */
  border: 2px solid #000;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #00000075;
}

.sub-title {
  font-size: 4vh;
}

.gameOverButton {
  margin: 1rem;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.logo-text {
  color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.charBtn {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: bottom;
}

.charSelContainer {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.food {
  background-image: url('/public/barcodeSprite.png');
  background-size:cover ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.powerup {
  background-image: url('/public/powerupSprite.png');
  background-size:cover ;
  z-index: 100;
}

.snake {
  background-image: url('/public/rojersBoxSprite.png');
  background-size: cover;
  z-index: 99;
}

.screenContainer {
  border: 2px solid black;
  background:rgba(0, 0, 0, 0.808);
  width: 1000px;
  height: 500px;
}

.title-text {
  height: 20%;
  width: 100%;
}

.screenContainer-gameover {
  border: 2px solid black;
  background:rgba(0, 0, 0, 0.808);
  width: 700px;
  height: 300px; 

}
.snakeContent {
  background: rgba(0, 0, 0, 0.808);
}